
<!DOCTYPE html>
<html lang="en">
  <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YUN DU - PARKING SPACE SEARCH</title>

       
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/font-awesome.min.css">
        <link rel="stylesheet" href="static/style.css">
     
     
        <link rel="stylesheet" href="static/reset.css"> <!-- CSS reset -->
	    <link rel="stylesheet" href="static/style2.css"> <!-- Resource style -->
	    <script src="static/modernizr.js"></script> <!-- Modernizr -->
     
     
     
     
          <script src="../static/js/signIn.js"></script>
          <link href="../static/signup.css" rel="stylesheet">
        
     
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      

      
        <link rel="shortcut icon" href="static/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/apple-touch-icon-57-precomposed.png">
         <title>parking space Slider</title>
    </head>


  <body>
	
        <div class="container">
            <div class="row header">
                <div class="col-sm-4 logo">
                    <h1><a href="index.php">YUN DU</a> <span>.</span></h1>
                </div>
                            <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/dashboard">Parking Spaces</a></li>
 	    <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
                
                <div class="col-sm-8 call-us">
                    <p>Tel: <span>{{username}}</span> | E-mail: <span>duyunihan@gmail.com</span></p>
                </div>
            </div>
        </div>


	<ul class="cd-gallery">
		<li>
			<a href="http://codyhouse.co/">
				<ul class="cd-item-wrapper">
					<li class="selected">
						<img src="img/ugmonk-tshirt-1.jpg" alt="Preview image">
					</li>

					<li class="move-right" data-sale="true" data-price="$22">
						<img src="img/ugmonk-tshirt-2.jpg" alt="Preview image">
					</li>

					<li>
						<img src="img/ugmonk-tshirt-3.jpg" alt="Preview image">
					</li>
				</ul> <!-- cd-item-wrapper -->
			</a>

			<div class="cd-item-info">
				<b><a href="#0">Mountains</a></b>

				<em class="cd-price">$26</em>
			</div> <!-- cd-item-info -->
		</li>

		<li>
			<a href="http://codyhouse.co/">
				<ul class="cd-item-wrapper">
					<li class="selected">
						<img src="img/ugmonk-cap-1.jpg" alt="Preview image">
					</li>

					<li class="move-right">
						<img src="img/ugmonk-cap-2.jpg" alt="Preview image">
					</li>

					<li>
						<img src="img/ugmonk-cap-3.jpg" alt="Preview image">
					</li>
				</ul> <!-- cd-item-wrapper -->
			</a>

			<div class="cd-item-info">
				<b><a href="#0">Baseball Cap</a></b>

				<em class="cd-price">$42</em>
			</div> <!-- cd-item-info -->
		</li>

		<li>
			<a href="http://codyhouse.co/">
				<ul class="cd-item-wrapper">
					<li class="selected">
						<img src="img/ugmonk-bag-1.jpg" alt="Preview image">
					</li>

					<li class="move-right">
						<img src="img/ugmonk-bag-2.jpg" alt="Preview image">
					</li>

					<li>
						<img src="img/ugmonk-bag-3.jpg" alt="Preview image">
					</li>
				</ul> <!-- cd-item-wrapper -->
			</a>

			<div class="cd-item-info">
				<b><a href="#0">Messenger Bag</a></b>

				<em class="cd-price">$235</em>
			</div> <!-- cd-item-info -->
		</li>

		<li>
			<a href="http://codyhouse.co/">
				<ul class="cd-item-wrapper">
					<li class="selected">
						<img src="img/ugmonk-tshirt-1.jpg" alt="Preview image">
					</li>

					<li class="move-right" data-sale="true" data-price="$22">
						<img src="img/ugmonk-tshirt-2.jpg" alt="Preview image">
					</li>

					<li>
						<img src="img/ugmonk-tshirt-3.jpg" alt="Preview image">
					</li>
				</ul> <!-- cd-item-wrapper -->
			</a>

			<div class="cd-item-info">
				<b><a href="#0">Mountains</a></b>

				<em class="cd-price">$26</em>
			</div> <!-- cd-item-info -->
		</li>

		<li>
			<a href="http://codyhouse.co/">
				<ul class="cd-item-wrapper">
					<li class="selected">
						<img src="img/ugmonk-cap-1.jpg" alt="Preview image">
					</li>

					<li class="move-right">
						<img src="img/ugmonk-cap-2.jpg" alt="Preview image">
					</li>

					<li>
						<img src="img/ugmonk-cap-3.jpg" alt="Preview image">
					</li>
				</ul> <!-- cd-item-wrapper -->
			</a>

			<div class="cd-item-info">
				<b><a href="#0">Baseball Cap</a></b>

				<em class="cd-price">$42</em>
			</div> <!-- cd-item-info -->
		</li>

		<li>
			<a href="http://codyhouse.co/">
				<ul class="cd-item-wrapper">
					<li class="selected">
						<img src="img/ugmonk-bag-1.jpg" alt="Preview image">
					</li>

					<li class="move-right">
						<img src="img/ugmonk-bag-2.jpg" alt="Preview image">
					</li>

					<li>
						<img src="img/ugmonk-bag-3.jpg" alt="Preview image">
					</li>
				</ul> <!-- cd-item-wrapper -->
			</a>

			<div class="cd-item-info">
				<b><a href="#0">Messenger Bag</a></b>

				<em class="cd-price">$235</em>
			</div> <!-- cd-item-info -->
		</li>
	</ul> <!-- cd-gallery -->
<script src="static/jquery-2.1.1.js"></script>
<script src="static/jquery.mobile.min.js"></script>
<script src="static/main.js"></script> <!-- Resource jQuery -->
      
      
      
        
       
   

      

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

