<!DOCTYPE html>
<html lang="en">
 <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YUN DU - PARKING SPACE SEARCH</title>

       
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/font-awesome.min.css">
        <link rel="stylesheet" href="static/style.css">
     
     
        <link rel="stylesheet" href="static/reset.css"> <!-- CSS reset -->
	    <link rel="stylesheet" href="static/style2.css"> <!-- Resource style -->
	    <script src="static/modernizr.js"></script> <!-- Modernizr -->
     
     
     
     
          <script src="../static/js/signIn.js"></script>
          <link href="../static/signup.css" rel="stylesheet">
        
     
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      

      
        <link rel="shortcut icon" href="static/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/apple-touch-icon-57-precomposed.png">
         <title>parking space Slider</title>
    </head>

<body background="static/bc.jpg">
 <div class="container">
            <div class="row header">
                <div class="col-sm-4 logo">
                    <h1><a href="index.php">YUN DU</a> <span>.</span></h1>
                </div>
                      <nav>
          <ul class="nav nav-pills pull-right">
           {% if(g.authedUser!=None) %}
            <li role="presentation"  class="active"><a href="/list">List</a></li>
            <li role="presentation"><a href="/add">Add my Own</a></li>
            <li role="presentation"><a href="/order">order</a></li>
            <li role="presentation" ><a href="/manage">manage my pole</a></li>
 	        <li role="presentation" ><a href="/auth/logout">Logout</a></li>
 	          {% else %}
 	            <p>
                Hello, guest
            </p>
            <p>
                <a href="/login" class="btn btn-success">Sign In</a>
                or
                <a href="/register" class="btn btn-primary">Sign Up</a>
            </p>

        {% endif %}
          </ul>
        </nav>
                
                
                <div class="col-sm-8 call-us">
                    <p>Name: <span>{{ g.authedUser.name }}</span> | account: <span>{{ g.authedUser.email }}</span></p>
                </div>
            </div>
        </div>
    <h3>
       
            <p align = "center">
                You are logged in as {{ g.authedUser.name }}
            </p>
            
        
    </h3>


<ul class="cd-gallery">
		    {% for item in list %}
            <li style="position: relative;margin-bottom: 20px">
                <b  align="center"><a href="/item/{{ item.id }}">{{ item.title }}</a></b>

                 <ul class="cd-item-wrapper">
					<li class="selected">
						<img src="static/img/{{item.img1}}" alt="Preview image">
					</li>

					<li class="move-right"  >
						<img src="static/img/{{item.img2}}" alt="Preview image">
					</li>

					<li>
						<img src="static/img/{{item.img3}}" alt="Preview image">
					</li>
				</ul> 
				
			
				
			<div class="cd-item-info">
				<b><a href="#0"> {{ item.location }}</a></b>

				<em class="cd-price">${{item.price}}</em>
			</div> 
		</li>
               

            </li>
        {% endfor %}
				</ul> 
			</a>


		
<script src="static/jquery-2.1.1.js"></script>
<script src="static/jquery.mobile.min.js"></script>
<script src="static/main.js"></script> <!-- Resource jQuery -->
      
      
</body>
</html>
